<div class="card shadow-lg p-4 bg-white rounded-lg">
  {{> card-header title=title iconClass=iconClass}}
  <div class="mb-2">
    {{> text text=content className="text-gray-700"}}
  </div>
  {{> card-footer buttonText=buttonText}}
</div>